

.title-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    background-color: #22326e;
    border-radius: 40px;
    width:800px;

    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.5;
    margin-left: auto;

    margin-right: auto;
}
.fot-type{
    font-family: 'Times New Roman', sans-serif;
}

.container{
    background-color: rgba(40, 38, 38, 0.24);
    color: #1f2023;
    height: 110vh;


}

.layout-container {


    text-align: left;
    margin: 30px 0;
    margin-left: 45px;

}
.center-middle{
    margin-top: 30px;
    margin-left: 80px;
}
.radio-label {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2rem; /* Increase the font size for the labels */
}

.radio-input {
    width: 20px; /* Adjust the width of the radio button */
    height: 20px; /* Adjust the height of the radio button */
    vertical-align: middle; /* Align the radio button vertically with the text */
}
.check-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.check-box {
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-box.active {
    border-color: #000;
    background-color: #f0f0f0;
}
.camera-options {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    justify-items: center;

}

.camera-option {
    color: black;
    width: 110px;
    height: 80px;
    border: 0px solid #ccc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;

}

.camera-option.selected {
    background-color: rgba(197, 7, 7, 0.82);
    color: white;
}
.camera-options-container {

    margin: 20px 0;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.send-button:disabled {
    opacity: 0.5; /* Adjust the opacity to make the button appear transparent when disabled */
    cursor: not-allowed; /* Change cursor style to indicate the button is not clickable */
}
.clear-button:disabled{
    opacity: 0.5; /* Adjust the opacity to make the button appear transparent when disabled */
    cursor: not-allowed;
}

.send-button, .clear-button {
    font-size: 20px ;
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 30px;
    margin-left: 20px;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.send-button {

    background-color: #22326e;

    color: white;
    border: none;
}

.send-button:hover {
    background-color: #1d2b5e;
}

.clear-button {
    background-color: #c50707;
    color: white;
    border: none;
}

.clear-button:hover {
    background-color: #b20505;
}
.modal {
    font-family: 'Times New Roman', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    outline: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

